*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
}

.container{
    position: relative;
    min-height:100vh;
    background-color: #d2d8d6;
background-image: linear-gradient(315deg, #d2d8d6 0%, #dce8e0 74%);


}

.container h1, h5{
    color: #0F0101;
/*text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);*/
font-family: Inter;
font-size: 75px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding: 20px;
text-align: center;
}

.container h5{
    color: #0F0101;
/*text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);*/
font-family: Inter;
font-size: 50px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding: 20px;
text-align: center;

}
.container p{
    font-size: 25px;
    font-family: Inter;
    color: #0F0101;
    text-align: center;
    padding: 15px;
}
.container .image-container{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
    padding:10px;
}

.container .image-container .image{
    height: 250px;
    width:350px;
    border: 10px solid #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    overflow : hidden;
    cursor: pointer;
}

.container .image-container .image img{
    height: 100%;
    width:100%;
    object-fit: cover;
    transition : 0.2s linear;
}

.container .image-container .image:hover img{
    transform: scale(1.1);
}

.container .popup-image{
    position: fixed;
    top:0; left:0;
    background: rgba(0,0,0,0.9);
    height:100%;
    width:100%;
    z-index:100;
    display: none;
}

.container ,.popup-image span{
    position: absolute;
    top:0;
    right:10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.container .popup-image img{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width:750px;
    object-fit: cover;


}

.mySlides {
    display: none
  }
  img {
    vertical-align: middle;
    border: 10px solid #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
  }
  .slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
  }
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
 

  .numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 1px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active,
  .dot:hover {
    background-color: #111111;
  }
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
@media(max-width: 768px){
    .container .popup-image img{
        width:95%;
    }
}

